@model LoginModel;

<div class="login">
    <div class="w">
        <div class="g">
            <div class="log">
                <h1>Войти в аккаунт</h1>
            </div>
            <div class="form-log">
                <form method="post">
                    <input type="text" name="Username" placeholder="Логин">
                    <br>
                    <input type="password" name="Password" placeholder="Пароль">
                    <br>
                    <button type="submit">Войти</button>
                </form>
                <div class="li">
                    <div class="li-reg">
                        <li><a href="reg.html">Создать аккаунт</a></li>
                    </div>
                    <div class="li-sup">
                        <li><a href="sup.html">Забыл пароль</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
